body,
html {
  margin: 0;
  padding: 0;
}

body h1 {
  text-align: center;
}

#wrap {
  display: flex;
  margin: 2rem;
}

.column {
  flex: 1;
}

#rightcolumn {
  display: flex;
  flex: 2;
  flex-direction: column;
}

#turtlecanvas {
  background: #fff;
  border: 1px solid red;
}

#command {
  width: 300px;
}

#monaco-editor {
  flex: 1 1;
}

#console-output {
  margin: 2rem;
}
